
*{ margin:0px;padding:0px; }

.menu-txt li a{
font-size:10px;
text-decoration:none;
color:rgb(129,141,171);
}
.menu-txt li{
    font-size:12px;
    list-style-type:none;
    padding:0px 6px;
    }
.txt-btn{
    background-color:rgb(245,139,68);
    color:white;
    padding:0px 10px 4px;
    border-radius:50px 50px 50px 50px;
}

.txt-btn:hover{
    background-color:rgb(209, 116, 54);
    color:white;
}
.txt{
    font-size:10px;
     color:white;
}
.txt-1:hover{
     color:white;
}
.txt-btn-1:hover{
    background-color:rgb(71, 78, 97);
}
.txt-btn-2:hover{
    background-color:rgb(66, 121, 167);
}
.txt-btn-1{
    background-color:rgb(90,97,117);
    padding:3px 20px 8px ;
    border-radius:50px 50px 50px 50px;
    margin-top:20px;
}
.txt-btn-2{
    background-color:rgb(85,154,209);
    margin-top:20px;
    padding:3px 20px 8px ;
    border-radius:50px 50px 50px 50px;
}
.txt-ul{
    color:rgb(255,222,166);
}
.txt-ul li{
    color:rgb(255,222,166);
    font-size:15px;
    padding:13px;
}
.txt-ul li a{
    color:rgb(228, 163, 106);
}
.txtcent-2{
    text-align:center;
    color:rgb(228, 163, 106);
    border-bottom:2px solid rgb(228, 163, 106);
}

.txt1{
    color:rgb(255,222,166);
}
.personal-txt-1{
    padding-top:20px;
}
.personal-txt{
    margin-top:80px;
    padding-bottom:50px;
}
/* .bg-img{
    background-image:url('assets/images/img.png');
    background-repeat: no-repeat;
} */
.txtcent-meditation button{
    margin-top:60px;
}
.txtcent-meditation h6{
    margin-top:30px;
}
.txtcent-meditation{
    text-align:center;
    color:rgb(90,97,117);
    padding:50px;
}
.txtcent-meditation h5{
    padding:50px;
}
.txtcent{
    text-align:center;
    color:rgb(239,201,167);
}
.txtcent-1{
    text-align:center;
    color:rgb(239,201,167);
    border-bottom:2px solid rgb(239,201,167);
}
.txtcent h1{
    font-size:50px;
}
.txtcent h5 a:hover{
    color:rgb(202, 174, 149);
}
.txt-btn-3:hover{
    background-color:rgb(212, 184, 135);
}
.txt-btn-3{
    background-color:rgb(255,222,166);
    padding:3px 20px 8px ;
    border-radius:50px 50px 50px 50px;
}
.txt2{
    font-size:10px;
     color:rgb(85,154,209);
}
.txt2:hover{
     color:rgb(85,154,209);
}
.txtcent-meditation-1{
    color:rgb(90,97,117);
    padding:70px;
}
.references{
    color:gray;
   padding:30px 110px;
   
}
.references p{
   /* font-size-adjust: inherit; */
   font-size:12px;
}
.font{
    font-size:10px;
}
.references-1{
    color:gray;
    padding:0px 70px 0px;
}
.references-1 span{
    font-size:12px;
    margin-left:40px;
}
.references-1 ul li a{
    font-size:10px;
    color:rgb(90,97,117);
}
.references-1 ul li{
    list-style: none;
    margin-left:40px;
}
.references-1 ul li a:hover{
    color:rgb(146, 149, 158);
}
.referencess img{
    width:50%;
    margin-top:5px;
}
.referencess span{
    font-size:12px;
}
.back-img{
    background-image:url('../images/iphone-7.png');
    width: 210px;
    height: 420px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    margin:40px 200px;
}
.set-image{
    position: absolute;
    top:48px;
    height: 325px;
    width: 100%;
    background-size: cover;
    background-position: center center;
}
.footer-set a{
text-decoration:none;
color:rgb(146, 149, 158);
font-size:11px;
padding:10px;
}
.footer-set a:hover{
    color:rgb(202, 174, 149);
}
.references-2{
    color:gray;
   text-align:center;
   margin-left:40%;
}
.references-2 ul li a{
    font-size:10px;
    color:rgb(90,97,117);
}
.references-2 ul li{
    list-style: none;
    margin:10px;
}
.references-2 ul li a:hover{
    color:rgb(146, 149, 158);
}